body {
    background-color: rgb(255, 233, 185);
    margin: 0;
    padding-bottom: 100px;
}

p {
    margin: 0;
}

.items-block{
    background-color: rgb(202, 202, 202);
    border: solid 2px black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

details summary {
    margin-left: 10px;
    font-size: 34px;
    font-weight: bolder;
}

.search-filter-items {
    background-color: bisque;
    border: solid 1px rgb(144, 144, 194);
    width: 700px;
    margin: 30px 0px 40px 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    box-shadow: 5px 5px 5px 5px rgb(132, 132, 132)
}

.search-filter-items > div {
    background-color: rgb(246, 207, 160);
    padding: 10px 0px 7px 10px;
}

.search-filter-items > div > h3{
    margin: 0px 0px 3px 10px;
}

#btn-pizza-search, #btn-pizza-filter {
    margin-top: 5px;
    display: block;
}

#pizzas-container, #desserts-container {
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.item-card {
    background-color: rgb(255, 208, 174);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    box-shadow: 5px 5px 5px 5px rgb(132, 132, 132);
}

.item-card:hover {
    background-color: rgb(255, 208, 174);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    box-shadow: 6px 6px 5px 7px rgb(100, 100, 100);
}

.item-card > * {
    margin-bottom: 3px;
}


.item-name {
    font-size: large;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3px;
}

.item-info > * {
    padding-left: 10px;
    margin-bottom: 5px;
}